# LP4 SCOA Assignment 1

In [ ]:
class SCOAAssignment1:


    def get_intersection(self,A,B):

        Fuzzy_temp1 = A.copy()
        Fuzzy_temp2 = B.copy()
        intersection_result = dict({})

        for element in Fuzzy_temp1.keys():
            if element not in Fuzzy_temp2.keys():
                Fuzzy_temp2[element] = 0
            if Fuzzy_temp1[element] < Fuzzy_temp2[element]:
                intersection_result[element] = Fuzzy_temp1[element]
            else:
                intersection_result[element] = Fuzzy_temp2[element]

        for element in Fuzzy_temp2.keys():
            if element not in Fuzzy_temp1.keys():
                Fuzzy_temp1[element] = 0
            if element in intersection_result.keys():
                continue
            if Fuzzy_temp1[element] < Fuzzy_temp2[element]:
                intersection_result[element] = Fuzzy_temp1[element]
            else:
                intersection_result[element] = Fuzzy_temp2[element]

        elements = list(intersection_result.keys())
        for element in elements:
            if intersection_result[element] == 0:
                del intersection_result[element]

        return intersection_result


    def get_complement(self,A):

        Fuzzy_temp = A.copy()
        A_complement = dict({})

        for element in Fuzzy_temp.keys():
            A_complement[element] = 1 - Fuzzy_temp[element]

        return A_complement


    def get_union(self,A,B):

        Fuzzy_temp1 = A.copy()
        Fuzzy_temp2 = B.copy()
        union_result = dict({})

        for element in Fuzzy_temp1.keys():
            if element not in Fuzzy_temp2.keys():
                Fuzzy_temp2[element] = 0
            if Fuzzy_temp1[element] > Fuzzy_temp1[element]:
                union_result[element] = Fuzzy_temp1[element]
            else:
                union_result[element] = Fuzzy_temp2[element]

        for element in Fuzzy_temp2.keys():
            if element not in Fuzzy_temp1.keys():
                Fuzzy_temp1[element] = 0
            if element in union_result.keys():
                continue
            if Fuzzy_temp1[element] > Fuzzy_temp2[element]:
                union_result[element] = Fuzzy_temp1[element]
            else:
                union_result[element] = Fuzzy_temp2[element]
        
        return union_result


    def get_difference(self, A, B):
        return self.get_intersection(A, self.get_complement(B))


    def get_cartesian_product(self,A, B):

        import pandas as pd
        import numpy as np
        
        data = []
        
        for a in A.keys():
            row = []
            for b in B.keys():
                row.append(np.minimum(A[a], B[b]))
            data.append(row)
        
        i = list(A.keys())
        c = list(B.keys())
        
        cartesianProduct = pd.DataFrame(data, columns = c, index = i)
        
        return cartesianProduct


    def get_min_max_composition(self,A, B):

        import numpy as np
        import pandas as pd
        
        Anp = np.array(A)
        Bnp = np.array(B)
        
        data = np.zeros((len(Anp), len(Bnp[0])))
        
        for i in range(len(Anp)):
            for j in range(len(Bnp[0])):
                min = []
                for k in range(len(Bnp)):
                    min.append(np.minimum(Anp[i][k], Bnp[k][j]))
                data[i][j] = np.max(min)
        
        return pd.DataFrame(data, index = A.index, columns = B.columns)

In [ ]:
A = {"a": 0.4, "b": 0.1, "c": 0.4, "d": 0.6, "e":0.3}
B = {"a": 0.6, "b": 0.3, "c": 0.5, "d": 0.4, "f":0.9}

print('Fuzzy Sets')
print('A = {result}'.format(result=A))
print('B = {result}'.format(result=B))

scoa1 = SCOAAssignment1()
print('\nIntersection\nA ∩ B = {result}'.format(result=scoa1.get_intersection(A,B)))
print('\nComplement of A\nA\' = {result}'.format(result=scoa1.get_complement(A)))
print('\nComplement of B\nB\' = {result}'.format(result=scoa1.get_complement(B)))
print('\nUnion\nA U B = {result}'.format(result=scoa1.get_union(A,B)))
print('\nDifference\nA - B = {result}'.format(result=scoa1.get_difference(A,B)))

Fuzzy Sets
A = {'a': 0.4, 'b': 0.1, 'c': 0.4, 'd': 0.6, 'e': 0.3}
B = {'a': 0.6, 'b': 0.3, 'c': 0.5, 'd': 0.4, 'f': 0.9}

Intersection
A ∩ B = {'a': 0.4, 'b': 0.1, 'c': 0.4, 'd': 0.4}

Complement of A
A' = {'a': 0.6, 'b': 0.9, 'c': 0.6, 'd': 0.4, 'e': 0.7}

Complement of B
B' = {'a': 0.4, 'b': 0.7, 'c': 0.5, 'd': 0.6, 'f': 0.09999999999999998}

Union
A U B = {'a': 0.6, 'b': 0.3, 'c': 0.5, 'd': 0.4, 'e': 0, 'f': 0.9}

Difference
A - B = {'a': 0.4, 'b': 0.1, 'c': 0.4, 'd': 0.6}

In [ ]:
X = {"x1": 0.5, "x2": 0.1, "x3": 0.4, "x4": 0.6}
Y = {"y1": 0.2, "y2": 0.3, "y3": 0.5}
Z = {"z1": 0.7, "z2": 0.4, "z3": 0.9, "z4": 0.3}
XY = scoa1.get_cartesian_product(X, Y)
YZ = scoa1.get_cartesian_product(Y, Z)

In [ ]:
XY

     y1   y2   y3
x1  0.2  0.3  0.5
x2  0.1  0.1  0.1
x3  0.2  0.3  0.4
x4  0.2  0.3  0.5

In [ ]:
YZ

     z1   z2   z3   z4
y1  0.2  0.2  0.2  0.2
y2  0.3  0.3  0.3  0.3
y3  0.5  0.4  0.5  0.3

In [ ]:
scoa1.get_min_max_composition(XY, YZ)

     z1   z2   z3   z4
x1  0.5  0.4  0.5  0.3
x2  0.1  0.1  0.1  0.1
x3  0.4  0.4  0.4  0.3
x4  0.5  0.4  0.5  0.3